<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pampa de La Quinua</title>
</head>
<body>
    <h1>INFORMACIÓN</h1>
    <p>
        El santuario histórico de la Pampa de Ayacucho es una área protegida del Perú que se estableció el 14 de agosto de 1980 con un área de 300 hectáreas.
       <br> En la Pampa de la Quinua, al pie del cerro Condorcunca, se desarrolló la batalla de Ayacucho el día 09 de Diciembre del año 1824. <br> Esta batalla selló la independencia del Perú y puso fin al dominio colonial español en la América del Sur.
       <br>
    </p>
    <img src="/imagenes/pampa 2.jpg" alt="pampa" width="450em">
    <img src="/imagenes/pampa 3.jpg" alt="pampa" width="460em">
    <p><a href="/index.html">Inicio</a></p>
</body>
</html>