<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museo Tumbas Reales de Sipan</title>
</head>
<body>
    <h1>INFORMACIÓN</h1>
    <P> Está ubicado en la ciudad de Lambayeque, localizada en el Departamento de Lambayeque. <br> Su diseño arquitectónico se ha inspirado en las antiguas pirámides truncas de la preincaica cultura mochica, (siglo I al VII d. C.). <br> El museo concentra más de dos mil piezas de oro
        Es la primera tumba de un gobernador precolombino hallada intacta en el Perú. <br> Data del siglo III. Actualmente, los restos de este personaje se encuentran en el Museo Tumbas Reales de Sipán, en Lambayeque. <br> Se trata de un hombre de 1,67 m, y de entre 35 a 40 años de edad. <br> Se lo halló al lado de los restos de 8 personas (tres mujeres, dos varones, un niño y dos guardianes) y animales (dos llamas y un perro). <br> El cuerpo del personaje estaba cubierto de numerosos ornamentos, armas y emblemas de oro, plata y cobre dorado

    </P>
    <img src="/imagenes/sipan 3.jpg" alt="Sipan" width="700em">
    <p><a href="/index.html">Inicio</a></p>
</body>
</html>