<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parque Nacional del Huascaran</title>
</head>
<body>
    <h1>INFORMACIÓN</h1>
    <p>El parque recibe el nombre de la montaña más alta de la Cordillera Blanca, del Perú y de toda la zona intertropical, el macizo nevado Huascarán. <br> La palabra Huascarán proviene del vocablo quechua ancashino waska ('soga o reata') y ran ('sufijo verbal o adverbial'), <br> así pues huascarán significa dispuesto como soga o en una interpretación más adecuada a su contexto: cadena de montañas. <br>
        El parque nacional Huascarán se encuentra en la sierra central del Perú, ubicado enteramente en el departamento de Áncash,<br> se sitúa paralelo a la cordillera Negra.
        El parque recibe el nombre de la montaña más alta de la Cordillera Blanca, del Perú y de toda la zona intertropical,<br> el macizo nevado Huascarán. La palabra Huascarán proviene del vocablo quechua ancashino waska ('soga o reata') y ran ('sufijo verbal o adverbial'),<br> así pues huascarán significa dispuesto como soga o en una interpretación más adecuada a su contexto: cadena de montañas.

    </p>
    <img src="/./imagenes/huascaran 3.jpg" alt="Huascaran" width="700em">
    <p><a href="/index.html">inicio</a></p>
</body>
</html>