<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parque Nacional del Manú</title>
</head>
<body>
    <h1>INFORMACIÓN</h1>
    <p>
        El parque nacional del Manu es un espacio natural protegido localizado en el sudeste del Perú, ubicado parcialmente en los departamentos de Madre de Dios y Cuzco, <br> entre las provincias del Manu y Paucartambo. Con un área de 1 909 806 hectáreas o hectómetros cuadrados; se divide en tres grandes zonas: el parque nacional, con 1 532 806 ha, <br> la Zona Reservada, con 257 000 ha y la Zona de Transición o Cultural, con 120 000 ha.
        En la Reserva de Biosfera del Manu existen testimonios de antiguas culturas como los petroglifos de Pusharo, <br> un conjunto de grabados de los que aún no se ha podido explicar su origen y significado
        La zona del Manu tiene una historia marcada por la llegada de gente foránea, desde los tiempos del imperio de los incas en que el Inca Pachacútec y Túpac Yupanqui anexaron esta zona a su imperio

    </p>
    <br>
    <img src="/imagenes/manu 2.jpg" alt="Manú" width="550em">
    <img src="/imagenes/manu 3.jpg" alt="Manú" width="500em">
    <p><a href="/index.html">Inicio</a></p>
    
</body>
</html>