<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuelap</title>
</head>
<body>
    <h1>INFORMACIÓN</h1>
    <P>
        Kuélap, o Cuélap, es un importante sitio arqueológico preinca ubicado en los Andes nororientales del Perú, en la Provincia de Luya. Fue construido por la cultura Chachapoyas.
       <br> Se estima que su construcción debió iniciarse hacia el siglo XI, coincidiendo con el periodo de florecimiento de la cultura Chachapoyas, y su ocupación debió culminar hacia mitades del siglo XVI.
       <br> El Templo Mayor es uno de los centros sagrados de mayor importancia para el monumento. Este edificio, en la forma de un cono truncado invertido, tiene 13.5 m de diámetro en su parte superior, en la cual se han registrado numerosas evidencias de ofrendas diversas en rituales complejos que incluyó el colocar huesos humanos dentro del recipiente interior, que se convirtió así en un gran osario. <br> En torno al edificio se han encontrado diversas entierros humanos y ofrendas que proceden desde la costa norte, como desde la sierra de Ayacucho en el sur y Cajamarca en la sierra norte.

    </P>
    <img src="/imagenes/kuelap 2.jpg" alt="Kuelap" width="500em">
    <img src="/imagenes/kuelap 3.jpg" alt="Kuelap" width="500em">
    <p><a href="/index.html">Inicio</a></p>
    
</body>
</html>