<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudad del Cusco</title>
</head>
<body>
    <h1>INFORMACIÓN</h1>
    <p>Cuzco, oficial y legalmente es una ciudad del sureste del Perú ubicada en la vertiente oriental de la cordillera de los Andes,
       <br> Según la leyenda recogida por el Inca Garcilaso de la Vega, Manco Cápac y Mama Ocllo migraron desde el lago Titicaca por consejo de su padre, el dios Sol. <br> Lanzaron una jabalina de oro; allí donde se clavó fundaron un nuevo pueblo. El lugar elegido se llamó Cuzco
        Crónicas antiguas como las del cronista Pedro Sarmiento de Gamboa (1530-1592) afirman la existencia de grupos étnicos en el valle de Cuzco antes del surgimiento del Imperio Inca. Dicho autor menciona a los guallas, los sahuasiray y los antasayas como los pobladores más antiguos. <br>
        Por su antigüedad y trascendencia, el centro de la ciudad conserva muchos edificios, plazas y calles de épocas precolombinas así como construcciones coloniales. Por ello es que la ciudad fue declarada en 1972 como «Patrimonio Cultural de la Nación» 
    </p>
    <img src="/imagenes/cusco 2.jpg" alt="Cusco" width="450em">
    <img src="/imagenes/cusco 3.jpg" alt="Cusco" width="600em">
    <p><a href="/index.html">Inicio</a></p>
</body>
</html>